firmware/
tmp/
# local build outputs (create_firmware.sh OUTPUT_FILE)
/U1_extended*.bin
*.o
*.so
tools/upfile/upfile
tools/rk2918_tools/afptool
tools/rk2918_tools/img_maker
tools/rk2918_tools/img_unpack
tools/rk2918_tools/mkkrnlimg
_site/
__pycache__/
