# New filament spool detected, attempt to resolve it to a known spool and update weight
[gcode_macro _RESOLVE_FILAMENT_CONFIG]
gcode:
  {% set ptc      = printer.print_task_config %}
  {% set channel  = params.EXTRUDER|default(0)|int %}
  {% set spool_id = ptc.filament_spool_id[channel]|default(0)|int %}
  {% set uid_raw  = printer.filament_detect.info[channel].CARD_UID %}
  {% if uid_raw is iterable and uid_raw is not string %}
    {% set ns = namespace(uid='') %}
    {% for b in uid_raw %}{% set ns.uid = ns.uid ~ ('%02X' % b) %}{% endfor %}
    {% set card_uid = ns.uid %}
  {% else %}
    {% set card_uid = '' %}
  {% endif %}
  {% if spool_id == 0 %}
    SET_WEIGHT LANE=E{channel} WEIGHT=1000
  {% endif %}
  {% if spool_id == 0 and card_uid %}
    { action_call_remote_method("spoollink_resolve_spool",
        channel=channel, spool_id=spool_id, card_uid=card_uid) }
  {% endif %}


# User selected spool ID for a channel
[gcode_macro SET_SPOOL_ID]
gcode:
  {% set channel  = params.CHANNEL|default(0)|int %}
  {% set spool_id = params.SPOOL_ID|default(0)|int %}
  {% if spool_id == 0 %}
    SET_PRINT_FILAMENT_CONFIG CONFIG_EXTRUDER={channel} FILAMENT_SPOOL_ID=0 FORCE=1
  {% else %}
    {% set uid_raw = printer.filament_detect.info[channel].CARD_UID %}
    {% if uid_raw is iterable and uid_raw is not string %}
      {% set ns = namespace(uid='') %}
      {% for b in uid_raw %}{% set ns.uid = ns.uid ~ ('%02X' % b) %}{% endfor %}
      {% set card_uid = ns.uid %}
    {% else %}
      {% set card_uid = '' %}
    {% endif %}
    { action_call_remote_method("spoollink_resolve_spool",
        channel=channel, spool_id=spool_id, card_uid=card_uid) }
  {% endif %}


# Sync active spool to spool manager after tool change,
# in case the spool manager needs to update the weight
# of the previously active spool
[delayed_gcode _spoollink_sync_active_spool]
initial_duration: 10
gcode:
  {% set ptc = printer.print_task_config %}
  {% set channel = printer.toolhead.extruder|replace('extruder', '')|int|default(0) %}
  {% set spool_id = ptc.filament_spool_id[channel]|default(0)|int %}
  { action_call_remote_method("spoolman_set_active_spool", spool_id=spool_id) }
  UPDATE_DELAYED_GCODE ID=_spoollink_sync_active_spool DURATION=10
