[save_variables]
filename: /home/lava/printer_data/config/ace_vars.cfg

[ace]
serial: /dev/serial/by-id/usb-ANYCUBIC_ACE_1-if00
baud: 115200

# Default feeding and retraction speed in mm/s.
feed_speed: 80
retract_speed: 80

# Distance from the extruder sensor to the splitter.
retract_length: 650 # TUNE ME

# Distance for filament to reach the toolhead. Select a value so ACE loading
# leaves the filament roughly 5-6 cm away from the toolhead.
feed_length: 600 # TUNE ME

# Maximum allowed dryer temperature.
max_dryer_temperature: 70

[gcode_macro ACE_DRYING_ON]
gcode:
  ACE_START_DRYING TEMP=55 DURATION=240

[gcode_macro ACE_DRYING_OFF]
gcode:
  ACE_STOP_DRYING
